<a href="https://colab.research.google.com/github/minonza/frequent-code/blob/main/mapup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_excel('/content/Python&Excel_Assesment.xlsx', "DataSet")

In [ ]:
df1.head()

    name   Id_a  Id_b  startDay  ... able5Hov2 able5Hov3 able4Hov2  able4Hov3
0    ZUK  30000    -1    Monday  ...         3         3         3          3
1  KHJ    30000    -1    Monday  ...         6         6         6          6
2    DFK  30000    -1  Thursday  ...         3         3         3          3
3   DFD   30000    -1    Monday  ...         6         6         6          6
4    MWS  30000    -1  Saturday  ...         6         6         6          6

[5 rows x 78 columns]

In [ ]:
df1.shape

(25, 78)

In [ ]:
df2 = pd.read_excel('/content/Python&Excel_Assesment.xlsx', "DataSet2")

In [ ]:
df2.shape

(23, 78)

In [ ]:
df2.head()

  name   Id_a   Id_b startDay  ... able5Hov2 able5Hov3 able4Hov2  able4Hov3
0  COM  30000  30002   Monday  ...         3         3         3          3
1  FMG  30000  30002   Monday  ...         6         6         6          6
2  PSQ  30000  30002   Monday  ...         6         6         6          6
3  XBL  30000  30002   Monday  ...         6         6         6          6
4  VRK  30000  30002   Monday  ...         6         6         6          6

[5 rows x 78 columns]

In [ ]:
#combining two sheets
value1= df1[['name','Id_a','Id_b','startDay','startTime','endDay','endTime','ablePri2AxlesAuto','ablePri3AxlesAuto','ablePri4AxlesAuto','ablePri2AxlesDualTire','ablePri2AxlesTaxi','ablePri2AxlesTaxiPool','able23AxlesAuto']]

In [ ]:
value2= df2[['name','Id_a','Id_b','startDay','startTime','endDay','endTime','ablePri2AxlesAuto','ablePri3AxlesAuto','ablePri4AxlesAuto','ablePri2AxlesDualTire','ablePri2AxlesTaxi','ablePri2AxlesTaxiPool','able23AxlesAuto']]

In [ ]:
dataframes=[value1,value2]

In [ ]:
join=pd.concat(dataframes)

In [ ]:
join.shape

(50, 14)

In [ ]:
#replacing null value with specified value
join['ablePri2AxlesAuto'] = join['ablePri2AxlesAuto'].fillna(128)
join['ablePri3AxlesAuto'] = join['ablePri3AxlesAuto'].fillna(64)
join['able23AxlesAuto'] = join['able23AxlesAuto'].fillna(2)

In [ ]:
join["Id"] = join["Id_a"] + join["Id_b"]
join = join.drop('Id_a', 1)
join = join.drop('Id_b', 1)

In [ ]:
join.head()

    name  startDay startTime  ... ablePri2AxlesTaxiPool able23AxlesAuto     Id
0    ZUK    Monday  05:00:00  ...                     4               1  29999
1  KHJ      Monday  10:00:00  ...                     2               1  29999
2    DFK  Thursday  15:00:00  ...                     2               1  29999
3   DFD     Monday  19:00:00  ...                     4               2  29999
4    MWS  Saturday  00:00:00  ...                     2               2  29999

[5 rows x 13 columns]

In [ ]:
join.to_csv("task_3.csv")

# New Section